<?xml version="1.0" encoding="utf-8"?>
<pretext
    lang="en"
    dir="../../dataset/output-g-ANNO"
    log="pretext.log"
    silence="off">

    <maid>
        <number/>
        <html/>
        <simbols/>
        <stoplist dir="stoplist">
          <stopfile>ingl.xml</stopfile>
        </stoplist>
    </maid>

    <ngram dir="ngraminfo">
        <gram n="1"/>
    </ngram>

    <report
        ngramdir="ngraminfo"
        discover="discover"
        transpose="disabled">

        <gram n="1"
            measure="tflinear"
            smooth="enabled"/>
    </report>
</pretext>
