<?xml version="1.0" encoding="utf-8"?>
<pretext
    lang="en"
    dir="../../dataset/economics/result"
    log="pretext.log"
    silence="off">

    <maid>
        <number/>
        <html/>
        <simbols/>
    </maid>

    <ngram dir="ngraminfo">
        <gram n="1"/>
    </ngram>

    <report
        ngramdir="ngraminfo"
        discover="discover"
        transpose="disabled">

        <gram n="1"
            measure="tfidf"
            smooth="disabled"/>
    </report>
</pretext>
